<section class="comment-area">
  <div class="comment-wrapper">
    {% if site.comments.provider == "utterances" %}
      <script src="https://utteranc.es/client.js"
              repo="{{ site.comments.utterances.repo }}"
              issue-term="{{ site.comments.utterances.issue_term }}"
              theme="{{ site.comments.utterances.theme }}"
              crossorigin="{{ site.comments.utterances.crossorigin }}"
              async>
      </script>
      {% endif %}
  </div>
</section> <!-- End Comment Area -->
